@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Roboto:400,700');

html,body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Roboto', sans-serif;
    background:white;
}

p{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
	font-family: "Montserrat", sans-serif !important;
	text-transform: uppercase;
}

.container
{
	min-height:100%;
	position:relative;
}

.hidden
{
	 display:none !important;
}
.lng
{
	display:none;
}
.lng_en
{
	display:inherit;
}

/* ---- navbar OK -------------- */

.main-social-nav
{
    background-color:#000000f5;
    width: 100%;
    height: 33px;
    border: none;
    z-index:301;
    position:relative;
}
.main-social-nav-icons
{
    float: right;
    padding: 0.5%;
    padding-right: 37px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.top-bar-social-share-icon
{
  padding-right: 5px;
}
.nav-social-icon {
    color: white;
    font-size: 1.1em;
}

.top_navbar
{
	position:fixed;
	width:100%;
	z-index:300;
}

.navbar
{
	margin:0;
	padding:29px 41px 10px 50px !important;
	background:transparent !important;
	color:white;
	fill:white;
	aposition:absolute !important;
	left:0;
	top:0;
	width:100%;
	az-index:300;
	transition:padding 0.5s;
}
.navbar_background
{
	background:rgba(23, 23, 23, 0.96) !important;
  color: white;
  fill: white;
  padding-top:19px !important;
  padding-bottom:11px !important;
	transition:padding 0.5s;
}
.navbar_background a
{
	color:#111 !important;
}
.nav_white .navbar
{
	background:white !important;
	fill:black !important;
	color:black !important;
	aposition:relative !important;
  border-bottom: 1px solid #eaeaea;
}

.nav_white .navbar_background
{
	background:rgba(255, 255, 255, 0.95) !important;
}

.navbar_parent
{
	width:100%;
	aborder-bottom:1px solid white;
	display:flex;
}
.navbar-nav
{
	margin-bottom:10px;
}
.navbar-brand
{
	width:150px;
	margin-right:80px;
}
.navbar_block
{
	flex-direction:column;
	align-items:end;
}
.logo_black
{
	display:none;
}
.anav_white::after
{
	content:"";
	margin-top:100px;
	display:block;
}
.nav_white .logo_white
{
	display:none;
}
.nav_white .logo_black
{
	display:inherit;
}
.nav_white .nav-item a
{
	border-color:black;
}

.nav_white .navbar_parent
{
	aborder-color:black;
}

.nav-item a
{
	color:inherit !important;
	text-transform:lowercase;
	border-right: none;
	padding:0 0 0 23px !important;
	font-size:19px;
	line-height:1;
}

.navbar_menu :first-child a
{
	padding-left:0 !important;
}

.navbar-nav :last-child a
{
	border:0;
}

.nav_social
{
	padding-bottom:5px;
	border-bottom:1px solid white;
	width:100%;
	justify-content:right;
}

.nav_white .nav_social
{
	border-color:black;
}
.nav_language a, .nav_social a
{
	border:0;
	padding:5px 0 0 11px !important;
	font-size:14px;
}
.nav-item a:hover
{
	 color:#f2a252 !important;
}

.nav_social_item
{
	fill:inherit;
	width:30px;
	display:inline-block;
	margin-bottom:5px;
}
.nav_social_item:hover
{
	fill:orange;
}

/* ---- header OK -------------- */

.header
{
	position:relative;
	left:0;
	top:0;
	background-image: url("../img/sokotech_home_header.jpg?2");
	background-size: cover;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items: center !important;
	padding-left: 50px;
}
.header_dark:before
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.25);
	z-index:100;
}
.header_dark_gradient
{
	opacity: 0;
	transition:opacity 1s;
}
.header_dark_gradient:before
{
	adisplay:none;
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
   background: rgba(0,0,0,0.3);
   background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.7)), color-stop(50%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0)));
   background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
   background: -o-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
   background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
   background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
	z-index:100;
}

.header_row
{
	width:100%;
	z-index:101;
	margin-top:100px;
}
.header_text
{
	font-family:'Montserrat','Sans Serif';
	font-size:40px; /* 6vw; */
	line-height:1.2em;
	font-weight:700;
	color:white;
	padding:0;
	margin-top:-50px;
	text-transform: uppercase;
}
.header_subtext
{
	color:white;
	font-size:22px;
	padding-right:50%;
	margin-top:0;
	text-transform:none;
}

.row_telling
{
	display:none;
	width:100% !important;
	margin:0;
	position:absolute;
	bottom:0;
	left:0;
	color:white;
	z-index: 250;
	padding:50px 45px 10px 45px;
	apadding:40px 45px 40px 45px;
}
.row_telling .col
{
	padding:10px 30px 10px 0;
	font-size:15px;
	flex-grow:0 !important;
	flex-basis:auto !important;
	width:auto !important;
}
.row_telling h5
{
	font-size:19px;
	font-weight:900;
	border-bottom:1px solid white;
	atext-transform: uppercase;
}
.row_telling h6
{
	font-size:17px;
}

/* ---- foot OK-------------- */

.foot
{
	background:#111111;
	color:white;
	margin:0;
	width:100%;
	padding:20px 50px 20px 50px;
	font-size:17px;
	display:flex;
	align-items: center;
}
.foot a, .foot span
{
	display:inline-block;
	border-right:1px solid gray;
	margin:5px 0;
	padding:0 10px;
	line-height: 1;
	color:inherit;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.foot a:hover
{
	text-decoration:none;
	color:#F27324;
}
.foot a:last-child
{
	border:0!important;
	padding-right:0 !important;
}
.foot span:first-child
{
	padding-left:0 !important;
}
.foot_text_wrapper
{
	border-bottom: none;
}
.foot_logo_wrapper
{
	text-align:right;
	flex-grow:1;
}
.foot_logo_soko
{
	width:101px;
	margin:10px 0;
}
/* ---- home content OK -------------- */
.section_header
{
	text-align:left;
	padding:30px 30px 30px 50px;
}
.section_header svg
{
	width:14px;
	height:14px;
	fill:#f27324;
}
.section_title
{
	display:block;
	color:black;
	font-weight:800;
	text-transform:none;
	font-size:1.5em;
	position:relative;
	line-height:1;
	margin:0;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.items_list
{
	padding:0px 0 0px 0;
}
.items_list:after
{
	content: "";
   display: block;
   height: 0;
   clear: both;
}

.item_4
{
	width:25%; /*33.3%;*/
	height:25vw; /*33.3vw;*/
	position:relative;
	overflow:hidden;
	float:left;
	background-size: cover !important;
	/*border-right:1px solid white;*/
	/*border-bottom:1px solid white;*/
}


/* ---- projects home & page OK ---------------*/
.projects_section
{
	text-align:center;
	margin-bottom:20px;
	padding: 19px 0 0 0;
	font-size:16px;
}
.projects_section_page
{
	min-height:100vh;
	display:block;
	position:relative;
	padding:50px 0 150px 0;
	margin:0;
	background:white;
}
.projects_section p
{
	font-size:1.2em;
	acolor:gray;
	atext-transform:uppercase;
	text-align:left;
	padding:10px 50px;
}

.project_width_1
{
	width:25% !important;
	height:25vw !important;
}
.project_width_2
{
	width:50% !important;
	height:25vw !important;
}
.project_width_3
{
	width:75% !important;
	height:25vw !important;
}
.project_width_4
{
	width:100% !important;
	height:50vw !important;
}

.project_tag_container
{
	text-align:left;
	padding:10px 50px;
	margin:0 0 50px 0;
}
.project_tag
{
	border:1px solid black;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size:0.9em;
	background:transparent;
	color:black;
	text-decoration: none;
	margin:0 5px 0 0;
	atransition: background 0.5s;
}
.project_tag:hover
{
	text-decoration: none;
	color:inherit;
	atransition: background 0.5s;
}
.project_tag.selected
{
	background:black;
	color:white;
	transition: background 0.5s;
	transition: color 0.2s;
}

.link_go_projects
{
	color:black;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.link_go_projects:hover
{
	color: #aaa;
	text-decoration: none;
}

.projects_section .btn_projects
{
	margin:40px 0 20px 0;
	background:transparent !important;
	border:1px solid black !important;
	border-radius:0 !important;
	outline:none;
}
.projects_section .btn_projects:focus
{
	outline:none;
	box-shadow: none;
}
.projects_section .btn_projects:hover
{
	background:black !important;
	color:white;
	border:1px solid black !important;
	border-radius:0 !important;
}

/* ---- project items OK-------- */

.project_info:hover
{
	background:rgba(21, 21, 21, 0.5) !important;
	transition: background 0.3s;
  color: #fff;
}

.project_info:hover svg
{
	fill:white !important;
	height:19px !important;
}
.project_info
{
	position:absolute;
	left:0;
	top:0;
	font-family:'Montserrat','Sans Serif';
	font-weight:700;
	transition: background 0.5s;
	color:white;
	padding:10px;
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
	text-align:center;
	background-repeat: no-repeat;
  justify-content: center;
  color: #fff9
}
.project_info svg
{
	height:16px;
	fill:white;
	display:inline-block;
	transition: height 0.5s;
}
.project_link
{
	position:absolute;
	bottom:0;
	right:0;
	margin:10px;
	color:white;
	display:inline-block;
	text-decoration: none;
	font-size:14px;
	font-weight:normal;
  display: none;
}
.project_info h4
{
	font-size:24px;
	border-bottom:none;
	font-weight: 700;
	margin:0;
	text-transform:uppercase;
	line-height:1;
	padding:5px 0;
	width:auto !important;
	display:inline-block;
}
.project_info h5
{
	display:none;
	color:white;
	font-size:14px;
	margin:5px 0 5px 0;
}

.project_info h6
{
	adisplay:none;
	font-size:14px;
	line-height:1.2;
	atext-transform:uppercase;
	acolor:white;
	margin:5px 0 0 0;
	apadding-right:25%;
}


/*------ Services -----------------*/

.arrow-right
{
  width: 15px;
  fill:#F27324;
}

.section_title_what_we_do
{
  aposition: relative;
  atop: 50%;
  atransform: translateY(-50%);
  padding-bottom:0 !important;
}

.services_tab_container
{
	text-align:left;
	padding:10px 50px 10px 50px;
	margin:0 0 50px 0;
}

.services-container-logos
{
  padding: 24px 0 0 0;

}
.service_tab
{
	padding: 5px 10px;
	font-size:21px;
	background:transparent;
	color:black;
	text-decoration: none;
	margin:0 auto;
	atransition: background 0.5s;
  font-weight: 700;
  text-align: center;
  display: block;
  font-family: 'Montserrat', sans-sans-serif;
  height: 190px;
}

.services_check_more
{
  padding: 15px 0 0 0;
}

.services-tab-logo
{
  width: 110px;
}

.service_tab:hover
{
	text-decoration: none;
	color:inherit;
	atransition: background 0.5s;
}
.service_tab.selected
{
	transition: background 0.5s;
	transition: color 0.2s;
  border-bottom: 7px solid #F27324;
}
.service_tabs_container
{
	padding: 0;
  background-color:#ececec;
}

.service_tabs_img_production
{
  width: 150px;
  height: 350px;
  background-image: url("https://drive.google.com/uc?id=1K1f67Ih6lWlJhjrgqdvJ-gQH7-6FxKgV");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service_tabs_img_communication
{
  width: 150px;
  height: 350px;
  background-image: url("https://drive.google.com/uc?id=14f0pFqiuGzZGljDb68zvQY2hnMZ06uTc");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service_tabs_img_design
{
  width: 150px;
  height: 350px;
  background-image: url("https://drive.google.com/uc?id=1LwNSrH7jVq0r4paX7z4_D0GcF1zHifG-");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service_tabs_img_education
{
  width: 150px;
  height: 350px;
  background-image: url("https://drive.google.com/uc?id=1MAKS1afgkVjdq5pjCrhsybyDob0h21Cu");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.service_row
{
	display:flex;
}
.service_col_img
{
	flex:1;
	max-width:200px;
}
.service_col_text
{
	flex:4;
	padding: 55px 35px 0 35px;
}
.service_tab_content
{
	display:none;
}
.tab_active
{
	display:block !important;
}

.tabs_container_services
{
  padding: 0
}

.section_services
{
	padding: 13px 0;
}
.section_services .hr
{
	border-color:black;
	width:75%;
	padding:5px 0;
	border-top:1px solid black;
  display: none;
}
.service_item
{
	margin-bottom:31px;
	color:black;
}
.nomargin
{
	margin:0 !important;
}
.service_title
{
  font-family: 'Montserrat', sans-serif;
	font-size:25px;
	font-weight:700;
  padding-bottom: 13px;
}
.service_info
{
	font-size: 17px;
  line-height: 1.5;
  margin-bottom: 11px;
}

.service_item a
{
  color:#F27324;
	text-decoration:none;
	font-size:14px;
  font-weight: 600;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.service_item a:hover
{
	color:#F2955B;
}
.service_item svg
{
    height:12px;
}
.services_grid
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.col_service_left
{
	padding-right:60px;
	width:40%;
	vertical-align:top;
}
.col_service_right
{
	padding-left:60px;
	width:40%;
	vertical-align:top;
}
.col_service_center
{
	align-self:center;
	vertical-align:middle;
	awidth:180px;
	position:relative;
}
.services_spinner
{
	margin-top:150px;
	position:relative;
	width:200px;
}
.col_service_center svg
{
	margin-top:-64px;
	position:absolute;
	left:0;
	top:0;
	awidth:180% !important;
	animation: rotation 4s infinite linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.col_service_center .text
{
	text-align: center;
	font-size:28px;
	line-height: 1.2;
	font-weight:700;
}


/* --------- Space --------------------- */
.space_section
{
	text-align:left;
	margin-bottom:20px;
	padding:0;
	font-size:16px;
	color:white;
}

.space_section .hr
{
	width:75%;
	padding:5px 0;
	border-top:1px solid white;
  display: none;
}
.space_info
{
	padding-left:50px;
	padding-top:80px;
	padding-bottom:80px;
	position:relative;
	overflow:hidden;
}
.space_content
{
	z-index:200;
	width:50%;
	position:relative;
}
.space_img
{
	position:absolute;
	background-image:url("../img/sokotech_home_space.jpg?4");
	background-size: cover;
	background-position: left 15%;
	background-repeat: no-repeat;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
}
.space_img:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
   background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
	transition: background 0.5s;
}

.space_info:hover > .space_img:after
{
	opacity:0;
	transition: opacity 0.5s;
}

.space_img:before
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	width:100%;
	height:100%;
	background:rgba(225,99,0,0.6);
	opacity:0;
	transition: opacity 0.5s;
}

.space_info:hover > .space_img:before
{
	opacity:1 !important;
	transition: opacity 0.5s;
}


.btn_go_space
{
  padding: 0;
}

.btn_go_space_orange
{
  color: black;
}

.btn_go_space_orange:hover
{
  color: black;
  text-decoration: none;
}

.btn_go_space_orange .section_title
{
  color: white;
  background-color: #F27324;
  text-decoration: none;
  padding: 25px 0;
  text-transform: capitalize;
  font-weight: 700;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.btn_go_space_orange .section_title:hover
{
  background-color: #FF904C;
}



/*----------- Companies -----------------*/
.section_logos
{
	margin:0px 0 0px 0;
	padding:21px 75px 60px 0px;
}
.row_logos
{
	padding-left:50px;
}
.col_logos
{
	padding-left:0;
	padding-right:0;
}
.row_logos img
{
	margin:auto;
	width:50%;
	max-width:120px;
	amargin:auto;
	display:block;
}

.row_impact img
{
	width:100%;
	amargin:auto;
	display:block;
}

.icons_home_title
{
  color: rgb(59, 59, 59);
  font-size: 16px !important;
  font-weight: 600;
  text-align:center;
  margin:0 !important;
}

.icons_home_subtitle
{
  font-size: 15px !important;
  font-weight: 400;
  color: rgb(59, 59, 59);
  text-align:center;
}

/* -------  pages ----------------*/
.page_container
{
	padding: 200px 50px 30px 50px;
	font-size:14px;
}
.page_container_top
{
	padding: 130px 0 0 0;
	font-size:14px;
}

.page_title
{
  display: block;
  color:black;
  font-weight: 800;
  text-transform: none;
  font-size: 1.5em;
  position: relative;
  line-height: 1;
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.page_subtitle
{
	color:#f27222;
	font-size:1.4em;
	line-height:1;
	margin-bottom:20px;
	font-weight:600;
	text-transform: none;
}
.page_text
{
	line-height:1.4;
	font-size:1.2em;
}
blockquote
{
	font-size:16px;
	font-style: italic;
	position:relative;
	padding:0 30px;
	margin-top:20px;
}
.author
{
	padding-left:30px;
}
blockquote:before {
    content: '\201C';
    color: #c0c0c0;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}
.row_services
{
	width:100%;
	overflow:hidden;
	margin:0 !important;
}
.col_service
{
	width:20% !important;
	height:20vw;
	overflow:hidden;
	padding:0;
	position:relative;
}
.col_service_4
{
	width:33% !important;
	height:33vw;
	overflow:hidden;
	padding:0;
	position:relative;
}
.col_service img, .col_service_4 img
{
	height:100%;
}

.btn_more
{
	background:transparent !important;
	border:3px solid black !important;
	border-radius:0 !important;
	margin:20px 0;
	apadding:10px 20px;
	atext-transform: uppercase;
}

.btn_more:hover
{
	background:black !important;
	color:white;
	border:3px solid black !important;
	border-radius:0 !important;
}
/* -------  about page ----------------*/
.about_info
{
	padding:210px 0px 50px 0px;
}

.title_arrow_down {
  width: 14px;
  height: 14px;
  fill: #f27324;
}

.about_info_txt
{
  padding: 0 47px 0 67px;
}

.about_info_img
{
	width: 150px;
  height: 450px;
	background-image: url("../img/about/sokotech_about_main_description.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.page_container_about
{
  padding: 23px 53px 30px 53px;
}

.team_img
{
	width:100%;
  border-radius: 50%;
}
.team_info h3
{
	font-size:19px;
	font-weight: 600;
	margin:19px 0 5px 0;
}
.team_info h4
{
	font-size:13px;
	font-weight: 500;
	margin:0px 0 10px 0;
	color:#f27222;
}
.team_item
{
	width:20% !important;
	height: auto !important;
  padding: 0 45px 25px 45px;
}
.team_info p
{
	font-size:15px;
	line-height:1.4em;
}

.about_title_container
{
  padding: 0 0 15px 53px;
}

.page_container_gray_bkg {
  background-color: #ececec;
}

.our_space_title
{
  padding: 25px 0 0 0;
}

.history_timeline
{
	padding-top:47px;
	margin-left:70px;
  margin-top: 15px;
	border-left:2px dotted gray;
	margin-bottom:100px;
}
.timeline_info
{
	padding:20px 7% 0px 59px;
	position:relative;
}
.timeline_info p
{
	font-size:1.2em;
	line-height:1.3;
	padding-top:5px;
}
.timeline_year
{
	font-size:1.5em;
	color:#888;
	display:inline;
	margin-right:5px;
}
.timeline_title
{
	font-size:1.5em;
	font-weight:800;
	display:inline;
}

.timeline_info::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  left: 0;
  background-color: white;
  border: 1px dotted black;
  top: 30px;
  z-index: 1;
}



.item_history
{
	width:100%;
	min-height:25vw;
	overflow:hidden;
	position:relative;
}
.item_history img
{
	position:absolute;
	left:0;
	top:0;
	z-index:0;
	width:100%;
}
.history_img
{
	width:100%;
	position:relative;
	padding-top:20px;
}
.history_info
{
	position:relative;
	z-index:1;
	padding:20px 25% 20px 50px;
	acolor:white;
}
.history_info_cell
{
	padding:20px 20px 20px 50px;
}
.history_year
{
	font-size:1.2em;
}
.history_title
{
	font-size:1.5em;
	font-weight:800;

}


/* ---- contact -------------- */
.body_flex
{
	display:flex;
	flex-direction:column;
}
/*.body_flex .navbar
{
	background:transparent !important;
}*/
#contact
{
	abackground:#eee;
	margin:0px 0px;
	flex-grow:1;
}
.contact_wrapper
{
	abackground:#fff;
	margin:25px 50px;
	padding:50px 100px 50px 100px;
	aborder-radius:10px;
}
#contact input, #contact textarea
{
	border:0;
	border-bottom:1px solid black;
	margin-bottom:15px;
	outline:none;
	border-radius: 0;
	padding:0 0 0 5px;
	transition: background 0.5s;
}
#contact input:focus, #contact textarea:focus
{
	border-color:orange;
	outline:none;
	box-shadow:none;
}

#contact button
{
	background:transparent;
	border:1px solid black;
	border-radius: 0;
	color:black;
	margin-top:20px;
}
#contact button:hover
{
	background:black;
	color:white;
}

#contact h2
{
	text-transform:uppercase;
}

.contact_info
{
	margin-bottom:30px;
	padding-right:50px;
}
.contact_map_wrapper
{
	position:relative;
}
.contact_map
{
	width:100%;
	height:25vw;
	min-height:350px;
}
.contact_open_map
{
	position:absolute;
	left:0;
	bottom:0;
	padding:5px 10px;
	background:#eee;
}
.subscription_options
{
	margin-top:10px;
	margin-left:7px;
	padding-top:10px;
	padding-left:20px;
	border-left:1px dotted black;
}
.subscription_options.disabled .subscription_option
{
	color:#aaa;
}
.subscription_options.disabled .custom-control-input:checked~.custom-control-label::before
{
	background:#aaa;
}
.custom-control-input:checked~.custom-control-label::before
{
	background:black;
	border-color:inherit;
}
.custom-checkbox .custom-control-label::before
{
	border-radius:0;
}
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before
{
	background:#aaa;
}
.contact_result
{
	display:none;
	margin-top:20px;
	margin-right:10px;
	padding:5px 10px;
	color:white;
	font-size:16px;
	border-radius:0;
}
#btn_contact
{
	box-shadow:none;
}
.sending div div
{
	abackground:white !important;
}


/* ---- RESPONSIVE -----------------*/

@media (max-width: 768px) {

/* ---- contact -----------------*/
#contact
{
	padding:20px 10px 10px 10px;
}
.contact_wrapper
{
	margin:0;
	padding:0px 10px 50px 10px;
}
.subscription_options
{
	margin-bottom:40px;
}
.contact_result
{
	margin:0;
}
/* ---- navbar -----------------*/
.navbar
{
	padding:0 !important;
	background:rgba(0,0,9,0.8) !important;
}
.nav_white .navbar
{
	padding:0 !important;
	background:rgba(255,255,255,0.8) !important;
}

.navbar-brand
{
	width:80px;
	margin:10px 0 10px 20px
}
.nav_white .navbar-toggler-icon
{
	background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
	margin:10px;
}

.navbar-toggler-icon
{
	background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
	margin:10px;
}

.nav-item a
{
	font-size:20px;
	padding:10px 0 !important;
	border:0;
}

.nav-item active
{
  color: #F27324;
}
.nav_white .navbar-collapse
{
	background:rgba(255,255,255,0.8);
}
.navbar-collapse
{
	background:rgba(0,0,0,0.8);
	padding:20px 20px 10px 20px;
}

/* ---- foot -----------------*/
.foot
{
	padding:20px;
	flex-direction:column;
}
.foot_text_wrapper
{
	border:0;
}

.foot span, .foot a
{
	padding:0;
	border-right:0;
}

.foot_logo_wrapper
{
	margin-top:20px;
	width:100%;
	text-align:left;
}
.foot_logo_soko
{
	width:85px;
}
/* ---- projects -----------------*/
.projects_section_page
{
	padding:0;
	margin-bottom:70px;
}
.project_tag_container
{
	margin-bottom:20px;
	padding:0 20px;
	display:flex;
	flex-wrap:wrap;
}
.project_tag
{
	margin-bottom:15px;
	margin-right:15px;
}
.item_4
{
	width:100% !important;
	height:50vw !important;
}
.project_info svg
{
	height:60px !important;
}

/* ---- about -----------------*/
.page_container
{
	padding:10px 25px;
	margin-bottom:60px;
}
.page_title
{
	font-size:1.7em;
}
.team_item
{
	width:100% !important;
   margin-bottom:20px;
}
.team_img
{
	margin-bottom:10px;
}
.history_timeline
{
	margin-left:5px;
	margin-bottom:0;
}
.timeline_info
{
	padding-right:0;
}
.timeline_year
{
	display:block;
	margin-bottom:5px;
}
/* ---- home -----------------*/
.header
{
	padding-left:25px;
	padding-top:100px;
}
.header_text
{
	margin-bottom:20px;
	font-size:1.5em;
}
.header_subtext
{
	padding-right:20%;
	line-height:1.1;
	margin-bottom:0;
}
.row_telling
{
	padding:20px 25px;
	position:relative;
	color:black;
}
.row_telling h5
{
	border-color:black;
	font-size:26px;
}
.row_telling h6
{
	font-size:20px;
}
.row_telling .col
{
	width:100% !important;
	flex-grow:1 !important;
}
.section_title
{
	line-height:1.3;
}
.section_services
{
	padding:30px 25px 20px 25px;
}

.col_service_left
{
	width:100%;
	padding:0;
}
.col_service_right
{
	width:100%;
	padding:0;
}
.col_service_center
{
	order:-1;
}
.services_spinner
{
	margin:0;
}
.services_grid
{
	flex-direction:column;
}

.col_service_center svg
{
	position:relative;
	margin:0 0 50px 0;
}
.col_service_center .text
{
	position:absolute;
	width:100%;
	margin-top:60px;
}
.space_info
{
	padding:50px 25px;
}
.space_content
{
	width:100%;
}
.space_img
{
	height:100%;
}
.section_header
{
	padding-left:25px;
}
.section_logos
{
	padding:0;
	margin-bottom:70px;
}
.row_logos
{
	padding:0 25px 0 25px;
	margin:0;
	width:100%;
}
.col_logos
{
	width:50%;
}
.col_logos img
{
	max-width:100%;
	width:100%;
	padding: 0 10px;
}
}
